@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --color-soft-blue-gray: #f5f7fc;
    --color-royal-blue: #2347fa;
    --color-dark-blue: #343d6b;
    --color-primary: #FF902B;
    --color-secondary: #2F2105;
    --color-accents: #F9D9AA;
    --color-peach: #F6EBDA;
}

@layer components {
    .transition-global {
        @apply transition-all duration-300 ease-in-out
    }
}